body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(800px,lightgray,#333a44);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

* {
    box-sizing: border-box;
}
/*Aquí he aprovechado la estrutira que tenía de login dándole un filtro linear al radial de fondo que le
da mas variedad de color*/
.filtro-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #7c9cab,#333a44);
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: -5;
}

header {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav .enlaces a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-image: url("../imagenes/BannerRosario.jpg");
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    width: 25vw;
    min-height: 40vh;
    box-sizing: border-box;
    padding: 2em;
}

form h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

form input, 
form textarea {
    /*Suena tonto volver a poner font-family pero el text-area parece que biene con una fuente diferente*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 1em;
}

form input {
    height: 2.5em;
}

form textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #7c9cab;
    width: 100%;
    padding: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px #333a44;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #333a44;
    transform: scale(1.05);
}

.info-adicional {
    width: 100%;
    color: white;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.red{
    width: 50px;
}

/* MEDIA QUERIES */

/* MOVIL */
@media only screen and (max-width: 420px) {
    form {
        width: 90vw;
        padding: 1.5em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 421px) {
    form {
        width: 60vw;
    }
}