body{
    /* box-sizing: border-box; */
    position: relative;
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100vh;
	display: grid;
    background-image: url("../imagenes/BannerRosario.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	grid-template-areas: "header header header"
	                     "main main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
/*BARRA DE NAVEGACIÓN*/
/*_________________________________________________________________________________________*/
header{
	grid-area: header;
	box-sizing: border-box;
	width: 100%;
	
	color: white;

}

nav {
	/* grid-area: header; */
	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #425A67;
	align-items: center;
	box-sizing: border-box;
	
	position: fixed;
	top: 0;
	z-index: 100;
}

nav a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

nav:hover{
	background-color: white;
	color: #333a44;
}
nav:hover a{
	color: #333a44;
}


#logo {
	width: 200px;
	display: flex;
	align-items: center;
    
}

#logotipo {
	width: 100%; 
    filter: drop-shadow(8px 8px 10px #333a44) drop-shadow(-8px -8px 10px #333a44);
}
nav:hover #logotipo{
    filter: none;
}

#options {
	display: flex;
	justify-content: center;
	flex: 1; 
	gap: 2em;
}

#options > p {
	padding: 1em;
	margin: 0;
}

#log {
	display: flex;
	align-items: center;
	gap: 1em;
}

#log img {
	width: 24px;
	height: auto;
}

/*MAIN*/
main{
   /*  box-sizing: border-box; */
    padding-bottom: 2em;
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

form {
    margin: auto;
    background-color: #425A67;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #1d20258e;
    
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    width: 25vw;
    min-height: 40vh;
    box-sizing: border-box;
    padding: 2em;
}

form h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

form input, 
form textarea {
    /*Suena tonto volver a poner font-family pero el text-area parece que biene con una fuente diferente*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 1em;
}

form input {
    height: 2.5em;
}

form textarea {
    height: 100px;
    resize: vertical;
}

form select{
    width:100%; padding:10px 15px; border-radius:5px; border:none; font-size:1em; font-family:Arial, Helvetica, sans-serif;
}

button {
    background-color: gray;
    width: 100%;
    padding: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px #333a44;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #333a44;
    transform: scale(1.05);
}

.info-adicional {
    width: 100%;
    color: white;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.red{
    width: 50px;
}
.filtro-background{
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: #333a44;
    opacity: 60%;
    z-index: -1;
}
/*FOOTER*/
/*______________________________________________________________________*/
footer{
	grid-area: footer;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
}
#información{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	display: flex;
	justify-content: space-around;
}
li{
	margin: 1em;
	list-style: none;
}
#marca{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* MEDIA QUERIES */

/* MOVIL */

@media only screen and (max-width: 760px) {
  body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "main main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
header{
    width: 100vw;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    box-sizing: border-box;
}

main {
    
    box-sizing: border-box;
    /* margin-top: 150px; */
    padding: 1em;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }

  form {
    width: 90vw;
    max-width: 500px;
    margin: auto; 
  }

/* .busqueda-input{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
} */
article{
	position: relative;
    box-sizing: border-box;
	width: 30%;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 1px lightgray;
	margin-bottom: 2em;
    
}
	
	aside{
	display: none;
  }
	
	#options {
    display: none;
  }
  article h1{
	font-size: 3em;
  }
  #información{
	text-align: center;
	margin:auto;
	flex-direction: column;
  }
}
