body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "main main main"
	                     "footer footer footer";

	grid-template-columns: 50% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
/*BARRA DE NAVEGACIÓN :*/
header{
	grid-area: header;
}
nav {
	/* grid-area: header; */
	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #425A67;
	align-items: center;
	box-sizing: border-box;
	
	position: fixed;
	top: 0;
	z-index: 100;
}

nav a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

nav:hover{
	background-color: white;
	color: #333a44;
}
nav:hover a{
	color: #333a44;
}

#logo {
	width: 200px;
	display: flex;
	align-items: center;
}

#logotipo {
	width: 100%; 
    filter: drop-shadow(8px 8px 10px #333a44) drop-shadow(-8px -8px 10px #333a44);
}
nav:hover #logotipo{
    filter: none;
}

#options {
	display: flex;
	justify-content: center;
	flex: 1; 
	gap: 2em;
}

#options > p {
	padding: 1em;
	margin: 0;
}

#log {
	display: flex;
	align-items: center;
	gap: 1em;
}

#log img {
	width: 24px;
	height: auto;
}
/*FIN BARRA DE NAVEGACIÓN*/
/*________________________________________________________________________________*/
main{
	grid-area: main;
}

.imagenes-producto{
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.img-producto{
	flex: 8;  
    width: 100%;
	/*IMPORTANTE PARA QUE NO OCUPEN DEMASIADA ALTURA*/
    max-height: 50vh; 
    object-fit: cover;
    border-radius: 5px;
}

.img-producto:hover{
    z-index: 20;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 1px grey;
    cursor: pointer;
}
.carrusel{
	/* height: 20%; */
	
    width: 100%;
    display: flex;
}
.carrusel img{
    width: 25%;
    object-fit: cover;
}
.carrusel img:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 1px grey;
    cursor: pointer;
}

.detalles{
    /* height: 40%; */
    border-bottom: #333a44 solid 2px;
	display: flex;
	font-size: 1em;
}

/*----------------------------------------------------------------------------*/
.producto{
	flex-grow: 1;
	padding-left: 5em;
	padding-right: 5em;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.producto div:first-of-type{
	font-size: 2em;
	flex-shrink: 1;
}
.producto a{
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}
.producto div:nth-of-type(2){
	flex-grow: 2;
	vertical-align: top;
}
.botones{
	flex-grow: 1;
	width: 100%;
	margin-top: auto;
	/* margin-top: 3em; */
	/* margin-bottom: 6em; */
	display: flex;
	gap: 0.5em;
	flex-direction: column;
	
}
.cesta{
	height: 5em;
	background-color: #333a44;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.comprar{
	height: 5em;
	cursor: pointer;
	background-color: #0B6531;
	border: none;
	color: white;
	border-radius: 5px;
}
.botones button{
	padding: 1em;
	font-size: 1em;
}

.producto button:hover{
	background-color: gray;
	transform: scale(1.05);
	box-shadow: 2px 2px 5px 1px #333a44;
}

.puntuacion img{
	width: 30px;
	height: 30px;
}
.puntuacion{
	display: flex;
	
	align-items: center;
}
.nota{
	/* font-weight: bold; */
	font-size: 0.6em;
	color: #7c9cab;
	margin-left: 0.5em;
}
/*-------------------------------------------------------------------------------*/
/*OPINIONES*/

.puntuacion-global{
	padding: 1em;
}

.opiniones{
	padding: 2em;
}
.opinion{
	margin-bottom: 2em;
	margin: auto;
	width: 80%;
	padding: 1em;
	border-top: solid lightgray 1px;
}
.global{
	display: flex;
	align-items: center;
}
.global img{
	width: 40px;
}
.global span{
	font-size: 3em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: #333a44;
}

.escribir-opinion {
    margin: 3em auto;
    width: 100%;
    max-width: 900px;

    background: lightgray;
    padding: 2em;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    gap: 1.5em;
	border: gray 1px solid;
}


.escribir-opinion label {
    font-weight: bold;
    font-size: 1.2em;
}


.escribir-opinion .campo-opinion {
    display: flex;
    flex-direction: column;
    gap: 1em;
	
}


.escribir-opinion textarea {
    width: 100%;
    min-height: 150px;
    padding: 1em;
    font-size: 1em;

    border: 1px solid gray;
    border-radius: 8px;

    box-sizing: border-box;
}

.escribir-opinion .puntuacion {
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

.escribir-opinion .puntuacion img {
    width: 30px;
}

.escribir-opinion button {
    align-self: center;
    padding: 0.8em 2em;
    font-size: 1em;

    background-color: #333a44;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.escribir-opinion button:hover {
    background-color: gray;
	transform: scale(1.05);
	box-shadow: 2px 2px 5px 1px #333a44;
}






/*FOOTER*/
/*______________________________________________________________________*/
footer{
	grid-area: footer;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
}
#información{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	display: flex;
	justify-content: space-around;
}
li{
	margin: 1em;
	list-style: none;
}
#marca{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*_______________________________________________________________________________________*/
/* MEDIA QUERIES */

/* MOVIL */

@media only screen and (max-width: 760px) {
    * {
    box-sizing: border-box;
}
  body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "main main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
header{
    width: 100vw;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    box-sizing: border-box;
}

main {
    
    box-sizing: border-box;
    /* margin-top: 150px; */
    padding: 1em;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form {
    width: 90vw;
    max-width: 500px;
    margin: auto; 
  }

/* .busqueda-input{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
} */
article {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
 .detalles {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1.5em;
      padding: 1em;
      box-sizing: border-box;
  }

  .producto {
        flex-grow: 0;
        min-height: auto;
        justify-content: flex-start;
    }

    .botones {
        margin-top: 1em;
    }

.imagenes-producto{
    padding: 0;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}


  .img-producto {
      width: 100%;
      max-height: 40vh; 
      object-fit: cover;
  }

  .carrusel {
      width: 100%;
  }

  .carrusel img {
      width: 25%;
      border-radius: 5px;
  }


  .producto {
      width: 100%;
      padding: 0 1em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 1em;
  }

  .producto div:first-of-type h1 {
      font-size: 1.8em;
      margin: 0;
  }

  .producto p.precio {
      font-size: 1.4em;
      margin: 0.3em 0;
  }

  .botones {
      width: 100%;
      margin-top: 1em;
  }

  .botones button {
      height: 3.5em;
      font-size: 1.1em;
  }
	
	aside{
	display: none;
  }
	
	#options {
    display: none;
  }
  article h1{
	font-size: 3em;
  }
  #información{
	text-align: center;
	margin:auto;
	flex-direction: column;
  }

  .global span{
    font-size: 2em;
  }
  .global img{
    max-width: 30px;
  }
}

