body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "aside main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
header{
	grid-area: header;
	box-sizing: border-box;
	width: 100%;
	
	color: white;

}

nav {
	/* grid-area: header; */
	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #7c9cab;
	align-items: center;
	box-sizing: border-box;
	/*posicion fija*/
	position: fixed;
	top: 0;
	z-index: 100;
}
nav:hover{
	background-color: white;
	color: #333a44;
}

#logo {
	width: 200px;
	display: flex;
	align-items: center;
}

#logo img {
	width: 100%; 
}

#options {
	display: flex;
	justify-content: center;
	flex: 1; 
	gap: 2em;
}

#options > p {
	padding: 1em;
	margin: 0;
}

#log {
	display: flex;
	align-items: center;
	gap: 1em;
}

#log img {
	width: 24px;
	height: auto;
}
main{
	box-sizing: border-box;
	grid-area: main;
	width: auto;
}
#banner{
	width: 100%;
}

.icono{
	width: 25px;
	height: auto;
}

article img{
	width: 100%;
	object-fit: cover;
}

section{
	
	display: flex;
	width: 100%;
}
#rosarios{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;

    
}
article{
    box-sizing: border-box;
    padding: 1%;
	width: 25%;
	position: relative;
    
}
article h1{
	color: white;
	position: absolute;
	bottom: 10%;
	left: 8%;
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
}
footer{
	grid-area: footer;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #feecc3;
}
#información{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	display: flex;
	justify-content: space-around;
}
li{
	margin: 1em;
	list-style: none;
}
#marca{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.busqueda{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	padding: 1em;
}
.busqueda-input{
	width: 40%;
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.busqueda-input input{
	background-color: lightgray;
	width: 100%;
	height: 2em;
	border-radius: 50px;
	border: none;
	padding: 5px;
	text-align: center;
}
#filters p{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
#iconoFiltros{
    height: 2em;
    margin: 0.5em;
}
/*ASIDE*/
/*________________________________________________________________________*/
aside{
	grid-area: aside;
	width: 100%;
	height: auto;

}

.filtro-seccion{
	padding: 1em;
	box-sizing: border-box;
	pad: 0.5em;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	width: 100%;
}
.titulo-filtros{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	padding:1em
}

aside a{
	display: block;
	background-color: lightgray;
	padding: 1em;
	border-radius: 50px;
	cursor: pointer;
}


@media only screen and (max-width: 760px) {
  #options {
    display: none;
  }
  article h1{
	font-size: 3em;
  }
  #información{
	text-align: center;
	margin:auto;
	flex-direction: column;
  }
}