body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "aside main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
/*BARRA DE NAVEGACIÓN*/
/*_________________________________________________________________________________________*/
header{
	grid-area: header;
	box-sizing: border-box;
	width: 100%;
	
	color: white;

}

nav {
	/* grid-area: header; */
	
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #7c9cab;
	align-items: center;
	box-sizing: border-box;
	/*posicion fija*/
	position: fixed;
	top: 0;
	z-index: 100;
}

nav a{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

nav:hover{
	background-color: white;
	color: #333a44;
}
nav:hover a{
	color: #333a44;
}


#logo {
	width: 200px;
	display: flex;
	align-items: center;
}

#logo img {
	width: 100%; 
}

#options {
	display: flex;
	justify-content: center;
	flex: 1; 
	gap: 2em;
}

#options > p {
	padding: 1em;
	margin: 0;
}

#log {
	display: flex;
	align-items: center;
	gap: 1em;
}

#log img {
	width: 24px;
	height: auto;
}
/*______________________________________________________________________________________________*/
/*MAIN*/
/*______________________________________________________________________________________________*/
main{
	box-sizing: border-box;
	grid-area: main;
	width: auto;
}
#banner{
	width: 100%;
}

.icono{
	width: 25px;
	height: auto;
}

article img{
	width: 100%;
	object-fit: cover;
}

section{
	
	display: flex;
	width: 100%;
}

/*BÚSQUEDA*/
/*---------------------------------------------------------------*/
.busqueda{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	padding: 1em;
}
.busqueda-input{
	width: 40%;
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.busqueda-input input{
	background-color: lightgray;
	width: 100%;
	height: 2em;
	border-radius: 50px;
	border: none;
	padding: 5px;
	text-align: center;
}
#filters p{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
#iconoFiltros{
    height: 2em;
    margin: 0.5em;
}

/*LISTA DE ROSARIOS*/
/*___________________________________________________________________________*/
#rosarios{
	box-sizing: border-box;
    display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	gap: 0.5em;
	padding: 1em;
    
    font-family: Arial, Helvetica, sans-serif;

    
}

#rosarios a {
    display: block;
    text-decoration: none; /* opcional */
    color: inherit;        /* opcional */
}

/*ARTICULOS*/
/*-----------------------------------------------------------------------------------*/
article{
	position: relative;
    box-sizing: border-box;
	width: 20%;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 1px lightgray;
	margin-bottom: 2em;
    
}
article h1{
	color: white;
	position: absolute;
	bottom: 10%;
	left: 8%;
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
}
article img{
	object-fit: cover;
	cursor: pointer;
}

article:hover{
	transform: scale(1.05);
}

article a div{
	padding-left: 2em;

}
.favorito{
	z-index: 20;
	width: 10%;
	position: absolute;
	top: 10px;
	right: 10px;
}
.favorito:active{
	background-color: lightgreen;
	border-radius: 50px;
}

/*______________________________________________________________________________*/
footer{
	grid-area: footer;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}
#información{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	display: flex;
	justify-content: space-around;
}
li{
	margin: 1em;
	list-style: none;
}
#marca{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*ASIDE*/
/*________________________________________________________________________*/
aside{
	grid-area: aside;
	width: 100%;
	height: auto;

}

.filtro-seccion{
	padding: 1em;
	box-sizing: border-box;
	pad: 0.5em;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	width: 100%;
}
.titulo-filtros{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	padding:1em
}

aside a{
	display: block;
	background-color: lightgray;
	padding: 1em;
	border-radius: 50px;
	cursor: pointer;
}
/*FILTRO DE CANTIDAD DE DINERO*/
/*----------------------------------------------------------------*/
.cantidad{
	box-sizing: border-box;
	width: 100%;
	padding: 2em;
}
.cantidad input{
	margin-top: 1em;
	width: 100%;
}


@media only screen and (max-width: 760px) {
  body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas: "header header header"
	                     "main main main"
	                     "footer footer footer";

	grid-template-columns: 20% 1fr 1fr;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 150px auto auto;

}
.busqueda-input{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
}
article{
	position: relative;
    box-sizing: border-box;
	width: 30%;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 1px lightgray;
	margin-bottom: 2em;
    
}
	
	aside{
	display: none;
  }
	
	#options {
    display: none;
  }
  article h1{
	font-size: 3em;
  }
  #información{
	text-align: center;
	margin:auto;
	flex-direction: column;
  }
}